@{
    ViewBag.Title = "Demo Page";
}
<p class="mainList">This is <strong>going</strong> to be the page where I can play about with css, don't mind the ugliness!</p>
<div class="mainList">
    <ol>
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
    </ol>
</div>
<ol class="mainList">
    <li>Four</li>
    <li>Five</li>
    <li>Six</li>
</ol>
<div class="productInfo">
    <img alt="This is a sausage cooking" src="~/img/sausages-cooking.jpg"/>
    <h3>Sausage cooking</h3>
    <ul class="product-props">
        <li>Cumberlands</li>
        <li>Black pudding</li>
    </ul>
    <a href="https://www.donaldrussell.com/lincolnshire-sausages.html">
        <button id="buyButton">Buy</button>
    </a>
</div>

<div id="theForm">
    <form>
        <label>Email:
            <input type="email"/>
        </label>
        <br/>
        <label>Username:
            <input/>
        </label>
        <br/>
        <label>Password:
            <input type="password"/>
        </label>
        <br/>
        <label>Message:
            <textarea rows="4"></textarea>
        </label>
        <br/>
        <input type="submit" value="Submit"/>
    </form>
</div>

<div>
    <div id="loginToggle">Login</div>
    <form class="popupForm">
        <div>
            <label>Username</label>
            <input />
        </div>
        <div>
            <label>Password</label>
            <input type="password"/>
        </div>
        <div>
            <input type="checkbox"/>
            <label>Remember Me</label>
        </div>
        <div>
            <button>Submit</button>
        </div>
    </form>
</div>