body {
    font-family: "Comic Sans MS", sans-serif;
}

input[type=submit] {
    width: auto;
}

input, textarea {
    font-size: 18px;
    width: 200px;
}

label {
    font-size: 16px;
    font-family: Bahnschrift, sans-serif;
}

#theForm{
    background-color: aqua;
}

#theForm ul{
    background-color: burlywood;
}

.product-props{
    font-family: Calibri, sans-serif;
    background-color: fuchsia;
}

.mainList{
    font-family: Bahnschrift, sans-serif;
    background-color: crimson;
}

/*This is applying to all li underneath a ol with class main-list and applies even though it reads top to bottom because it is more specific*/
ol.mainList li{
    background-color: darkblue;
}

/*This is applying to all li under anything with class main-list*/
.mainList li{
    background-color: aqua;
}

.productInfo {
    border: 1px solid grey;
    display: inline-block;
    padding: 1px 10px 30px 100px; /*Goes clockwise*/
    width: 600px;
    margin: 5px;
    border-radius: 5px;
    background-color: antiquewhite;
}

.productInfo img {
    margin: 5px;
    float: left;
    border: 1px solid black;
    padding: 10px;
    max-width: 150px;
}

#loginToggle {
    cursor: pointer;
}

.popupForm {
    padding: 5px;
    border: 2px black outset;
    background-color: grey;
    display: inline-block;
}

.popupForm label {
    width: 150px;
    display: inline-block;
}

.popupForm input[type=checkbox], .popupForm input[type=submit] {
    width: auto;
}

menu li {
    background-color: grey;
    display: inline;
}
    menu li:after{
        content: ' | ';
        background-color: red;
    }
    
    menu li:last-of-type:after{
        content: '';
    }